.menu-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn {
  border-radius: 30px;
  background: #a88aff;
  height: 5vh;
  width: 10vw;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-right: 2em;
  cursor: pointer;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn:hover {
  border-radius: 30px;
  background: linear-gradient(
    258deg,
    #a88aff 64.79%,
    rgba(168, 138, 255, 0) 105.51%
  );
}
