.a-c-tag {
  color: #000;
  font-family: Overpass;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}
.f-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.f-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  margin-top: 1em;
  font-family: Overpass;
  font-size: 18px;
}
.f-text {
  /* Your CSS file or style block */
  border: none;
  border-bottom: 1px solid #000; /* Change the color to your preferred color */
  outline: none; /* Remove the default input focus outline */
  padding: 5px; /* Adjust the padding as needed */
}

button {
  margin-top: 2em;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 10vw;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

button:hover {
  background-color: #2980b9;
}
